<%- include("partials/header.ejs") %>
<!-- cover picture appears at first visit -->
<a class="nav-link link ontainer" href="/home">
<div class="row">
    <div class="col-md-2 cover"></div>
    <div class="col-md-8 cover ">
<img src="\pics\coverbook.jpg" class="image" alt="make beauty front page" class="bg">
    <div class="middle">
    <div class="text"></div>
    </div> 
 </div>
<div class="col-md-2 cover"></div>

</div>
</a>
<%- include("partials/footer.ejs") %>