<%- include("partials/header.ejs") %>
<!-- here are the pages that display the full summary when the "see full summary" btn is clicked -->
<div class="row pt-5 pb-5 mb-5">
    <div class="col-md-3 pt-3"></div>
    <div class="col-md-5 pt-3">
        <%= full %>
    </div>
</div>

<%- include("partials/footer.ejs") %>